 <h1><%= @category.title %></h1>

 <div class="col-md-4">
   <%= link_to "Add Option", new_category_option_path(@category), class: 'btn btn-success' %>
   <%= link_to "Edit", edit_category_path(@category), class: 'btn btn-success' %>
   <%= link_to "Delete Category", @category, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this category_instance?'} %>

   <% if @category.options.any? %>
      <%= link_to "Choose 4 ME!", category_option_path(@category, random_option(@category)), class: 'btn btn-success'%>
    <% else %>
      <p> Add some options! </p>
    <% end %>
 </div><br>

 <div class="row">
   <div class="col-md-8">
     <%= render partial: 'favorites/favorite', locals: { category: @category } %>
     <% @category.options.each do |option| %>
      <div class="media">

         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to option.title, category_option_path(@category, option.id) %>
           </h4>
         </div>
      </div>
    <% end %>
   </div>
 </div>
